.pictures__body {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #15FFBC;
}

h1 {
  display: none;
}

.video {
  display: none;
}

.header__desktop {
  display: none;
}

.header__menu {
  margin: 10px;
}

.--header-menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu__home {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.menu__home:hover {
  color: pink;
}

.pictures__body {
  margin-top: 50px;
}

.text-and-pic {
  text-align: center;
}

.--pictures__body--text {
  text-align: center;
  margin-top: 20px;
  margin: 30px;
}

.pictures__main {
  margin-bottom: 50px;
}

.virgulilla {
  width: 50px;
  margin: 30px;
}

.x {
  margin-top: 10px;
}

footer {
  background-color: black;
  text-align: center;
  padding-bottom: 2rem;
}

.footer__social-media img {
  width: 2rem;
  margin: 0.2rem;
}

.--footer-first-text {
  color: #15FFBC;
  padding-top: 20px;
}

.--nav__footer--menu {
  color: white;
}

.nav__footer {
  margin-top: 30px;
  color: white;
}

.nav__footer li {
  margin: 0.5rem;
}

.footer__text {
  margin-top: 1rem;
}
.footer__text h2 {
  color: white;
  font-size: 1.2rem;
  margin: 20px;
}
.footer__text p {
  color: #15FFBC;
  margin-top: 5px;
  font-size: 1rem;
}

.--desk-menu-hover:hover {
  color: pink;
}

.cross-text-title {
  text-decoration: line-through pink;
}

.--home-pink {
  text-decoration: line-through;
  color: pink;
}

@media (min-width: 600px) {
  .header__menu {
    display: none;
  }

  .header__desk {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__desk div {
    display: flex;
    justify-content: space-between;
  }
  .header__desk div li {
    margin: 20px;
  }
  .header__desk li {
    list-style: none;
  }
  .header__desk li a {
    text-decoration: none;
    color: black;
  }

  .--pictures__body-pink-car {
    display: none;
  }

  .video {
    display: block;
    width: 100%;
  }

  .--pictures__body--text {
    width: 20%;
    margin: 1.5rem auto;
  }

  .pictures__package {
    display: flex;
    justify-content: center;
  }

  .nav__footer {
    display: none;
  }

  .package__footer {
    display: flex;
    justify-content: space-around;
  }

  .footer__social-media img:hover {
    background-color: pink;
    border-radius: 50%;
    cursor: pointer;
  }

  .cross__world {
    text-decoration: line-through;
  }
}
.header__menu-desktop {
  display: none;
}

.image-grid8 {
  background-image: url("../images/media8.jpg");
  background-size: contain;
}

.image-grid9 {
  background-image: url("../images/media9.jpg");
  background-size: contain;
}

.image-grid10 {
  background-image: url("../images/media10.jpg");
  background-size: contain;
}

.image-grid11 {
  background-image: url("../images/media11.jpg");
  background-size: contain;
}

.image-grid12 {
  background-image: url("../images/media12.jpg");
  background-size: contain;
}

.image-grid13 {
  background-image: url("../images/media13.jpg");
  background-size: contain;
}

.image-grid14 {
  background-image: url("../images/media14.jpg");
  background-size: contain;
}

.image-grid15 {
  background-image: url("../images/media15.jpg");
  background-size: contain;
}

.image-grid16 {
  background-image: url("../images/media16.jpg");
  background-size: contain;
}

.image-grid17 {
  background-image: url("../images/media17.jpg");
  background-size: contain;
}

.image-grid18 {
  background-image: url("../images/media18.jpg");
  background-size: contain;
}

.image-grid19 {
  background-image: url("../images/media19.jpg");
  background-size: contain;
}

.image-grid20 {
  background-image: url("../images/media20.jpg");
  background-size: contain;
}

.image-grid21 {
  background-image: url("../images/media21.jpg");
  background-size: contain;
}

.image-grid22 {
  background-image: url("../images/media22.jpg");
  background-size: contain;
}

.image-grid23 {
  background-image: url("../images/media23.jpg");
  background-size: contain;
}

.image-grid24 {
  background-image: url("../images/media24.jpg");
  background-size: contain;
}

.image-grid25 {
  background-image: url("../images/media25.jpg");
  background-size: contain;
}

.image-grid26 {
  background-image: url("../images/media26.jpg");
  background-size: contain;
}

.image-grid27 {
  background-image: url("../images/media27.jpg");
  background-size: contain;
}

.image-grid28 {
  background-image: url("../images/media28.jpg");
  background-size: contain;
}

.image-grid29 {
  background-image: url("../images/media29.jpg");
  background-size: contain;
}

.image-grid30 {
  background-image: url("../images/media30.jpg");
  background-size: contain;
}

.image-grid31 {
  background-image: url("../images/media31.jpg");
  background-size: contain;
}

.image-grid32 {
  background-image: url("../images/media32.jpg");
  background-size: contain;
}

.image-grid33 {
  background-image: url("../images/media33.jpg");
  background-size: contain;
}

.image-grid34 {
  background-image: url("../images/media34.jpg");
  background-size: contain;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
}

@media (min-width: 600px) {
  .header__menu-desktop {
    display: flex;
  }

  .pictures__mobile {
    display: flex;
    align-items: center;
  }
  .pictures__mobile img {
    width: 33%;
  }
}
.text {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
.text h2 {
  margin-bottom: 1rem;
}
.text p {
  margin-bottom: 3rem;
}

.picture__about {
  display: none;
}

@media (min-width: 600px) {
  .header__desktop {
    display: block;
    height: 200px;
  }

  .picture__about {
    display: block;
    /* img{
    width: 100%;
    height: 200px;
    } */
    background-image: url("../images/about.jpg");
    height: 300px;
  }

  .text-one {
    margin-top: 50px;
    word-spacing: 0.5rem;
  }

  .text--two {
    display: flex;
    justify-content: center;
  }
  .text--two div {
    margin: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
