/* Error: From line 1, column 1 of sass\styles.scss: 
 *   ╷
 * 1 │ %common-list-menu{
 *   │ ^^^^^^^^^^^^^^^^^
 *   ╵
 * You may not @extend selectors across media queries.
 *    ,
 * 23 |     @extend %common-list-menu;
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\styles.scss 23:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: From line 1, column 1 of sass\\styles.scss: \a   \2577 \a 1 \2502  %common-list-menu{\d\a   \2502  ^^^^^^^^^^^^^^^^^\a   \2575 \aYou may not @extend selectors across media queries.\a    \2577 \a 23 \2502      @extend %common-list-menu;\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\styles.scss 23:5  root stylesheet";
}
