%common-list-menu{
      list-style: none;
    display: flex;
    justify-content:space-between;
}
%body-pictures{
   width: 100%;
   height: auto;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: #15FFBC;
}
h1{
    display: none;
}
.video{
    display: none;
}
.menu__desktop{
    display: none;
}
.header{
    height: 150px;
}
.header__menu{
    margin: 10px;
}
.--header-menu-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu__home{
    text-decoration: none;
    font-size: 1.2rem;
}
.pictures__body{
    @extend %body-pictures;
    margin-top: 50px;
}
.text-and-pic{
    text-align: center;
}
.--pictures__body--text{
    text-align: center;
    margin-top: 20px;
    margin: 30px;
}
.pictures__main{
    margin-bottom: 50px;
}
.virgulilla{
    width:50px;
    margin: 30px;
}
.x{
    margin-top: 10px;
}
footer{
    background-color: black;
    text-align: center;
    padding-bottom: 2rem;
}
.footer__social-media img{
    width: 2rem;
    margin: 0.2rem;
}
.--footer-first-text{
    color: #15FFBC ;
    padding-top: 20px;
}
.--nav__footer--menu{
    color: white;
}
.nav__footer{
    margin-top: 30px;
}
.nav__footer li{
    margin: 0.5rem;
}
.nav__footer a{
    text-decoration: none;
    color: white;
}
.footer__text{
    margin-top: 1rem;
   h2{
       color: white;
       font-size: 1.2rem;
       margin:20px;
   }
   p{
       color: #15FFBC;
       margin-top: 5px;
       font-size: 1rem;
   }
}
@media(min-width: 600px){
    
    .header__menu{
        display: none;
    }
    .header__desk{
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            display: flex;
            justify-content: space-between;
           li{
               margin: 20px;
           }
        }
        li {
            list-style: none;
            a{
                text-decoration: none;
                color: black;
             }
        }
    }
    .--pictures__body-pink-car{
        display: none;
    }
    .video{
        display: block;
        width: 100%;
    }
    .pictures__package{
        
    }
    .--pictures__body--text{
        width: 20%;
        margin: 1.5rem auto;
    }
    .pictures__package{
        display: flex;
        justify-content: center;
    }
   .nav__footer{
       display: none;
   }
   .package__footer{
       display: flex;
       justify-content: space-around; 
   }
   .footer__social-media{
       img:hover{
           background-color:pink ;
           cursor: pointer;
       }
   }
   .cross__world{
       text-decoration: line-through;
   }   
   
}